{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "endOfLine": "auto",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
