{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "optimizer": { "simplify": true }
    },
    "minify": {
      "compress": true,
      "format": {
        "comments": false
      }
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "sourceMaps": false
}
